aniso8601==8.1.0
Arelle==1.0.0
cheroot==8.5.2
CherryPy==18.6.0
convertdate==2.2.0
cycler==0.10.0
et-xmlfile==1.0.1
graphviz==0.16
holidays==0.10.4
importlib-metadata==3.4.0
isodate==0.6.0
jaraco.classes==3.1.0
jaraco.collections==3.1.0
jaraco.functools==3.1.0
jaraco.text==3.4.0
jdcal==1.4.1
kiwisolver
korean-lunar-calendar==0.2.1
lxml==4.6.2
more-itertools==8.6.0
numpy
matplotlib
openpyxl==2.3.0
pg8000==1.16.6
Pillow==8.1.0
portend==2.7.0
py-dateutil==2.2
pycountry==20.7.3
pycrypto==2.6.1
PyMeeus==0.3.7
PyMySQL==1.0.2
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2019.3
rdflib==5.0.0
regex==2020.11.13
scramp==1.2.0
six==1.15.0
tempora==4.0.1
tornado==6.1
typing-extensions==3.7.4.3
zc.lockfile==2.0
zipp==3.4.0
